.Header {
    text-align: center;
}

h1 {
    color: rgb(27, 27, 27);
    margin: 0;
    padding-bottom: 2rem;
    font-size: 64px;
}

img {
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}